<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js • MVC</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <section id="packagesapp">
    Сюда добавиться!
  </section>
  <script type="text/template" id="package-item-template">
    <div class="background-layer" style="background: url(<%= picture %>) no-repeat 50% 50%; background-size: cover;">
      <div class="title"> <%= title %></div>
      <div class="price"> <%= price %></div>
      <div class="description"> <%= description %></div>
      <div class="author"> <%= author %></div>
      <div class="delete-button"></div>
    <div>
  </script>

  <script type="text/template" id="package-list-template">

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone.localStorage.min.js"></script>
  <script src="js/models/package.js"></script>
  <script src="js/collections/packages.js"></script>
  <script src="js/views/package.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/test.js"></script>
</body>

</html>
